@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    /* color: white; */
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}


.mobileSidebar {
    position: fixed;
    bottom: 15px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 60%;
    /* height: 10%; */
    height: 40px;
    padding: 5px 20px;
    border-radius: 50px;
}