@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    /* color: white; */
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}


.mobileSidebar {
    background-color: #000;
    position: fixed;
    bottom: 15px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 85%;
    /* height: 10%; */
    height: 50px;
    padding: 5px 20px;
    border-radius: 50px;
    z-index: 100;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #374151;
    border-radius: 10px;
    padding-left: 10px;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #374151;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    opacity: 0.8;
}

.converter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    opacity: 0.8;
}

.FinancialLiteracy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    opacity: 0.8;
}

.Game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    opacity: 0.8;
}